@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;900&family=IBM+Plex+Mono:wght@400;600&family=Petrona:wght@400;600&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Figtree", "Helvetica Neue", Arial, sans-serif;
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
}

:root {
  --background: #f7f9fa;
  --foreground: #4c5761;
  --card: #ffffff;
  --card-foreground: #343e46;
  --popover: #ffffff;
  --popover-foreground: #343e46;
  --primary: #ff7900;
  --primary-foreground: #ffffff;
  --secondary: #eef1f3;
  --secondary-foreground: #343e46;
  --muted: #f7f9fa;
  --muted-foreground: #6b7681;
  --accent: #fff1e0;
  --accent-foreground: #b85600;
  --destructive: #ff2318;
  --destructive-foreground: #ffffff;
  --border: #e1e5e9;
  --input: #c4cad0;
  --ring: #004dff;
  --chart-1: #ff7900;
  --chart-2: #28b4bc;
  --chart-3: #ffb600;
  --chart-4: #358dc9;
  --chart-5: #d3bc9c;
  --radius: 1rem;
  --sidebar: #f7f9fa;
  --sidebar-foreground: #343e46;
  --sidebar-primary: #ff7900;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #fff1e0;
  --sidebar-accent-foreground: #b85600;
  --sidebar-border: #e1e5e9;
  --sidebar-ring: #004dff;
  background: #f7f9fa;
}

@layer base {
  * { @apply border-border outline-ring/50; }
  body {
    @apply bg-background text-foreground;
    min-width: 320px;
    font-family: var(--font-sans);
    -webkit-tap-highlight-color: transparent;
  }
}
